<%- model_class = Staff -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>

      <th><%= model_class.human_attribute_name(:name) %></th>

      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:image) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @staffs.each do |staff| %>
      <tr>


        <td><%= link_to staff.name, staff_path(staff) %></td>

        <td><%= staff.email %></td>
        <td><%= image_tag(staff.image) unless staff.image.blank? %></td>

        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_staff_path(staff), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      staff_path(staff),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_staff_path,
            :class => 'btn btn-primary' %>
