<% @title = "Listing messages" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/Messages/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_message_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Message
  <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.title %></td>
          <td><%= message.body %></td>
          <td class="actions">
            <%= link_to icon_tag("eye-open"), message, rel: 'tooltip', title: 'Show' %>
            <%= link_to icon_tag("pencil"), edit_message_path(message), rel: 'tooltip', title: 'Edit' %>
            <%= link_to icon_tag("trash"), message, rel: 'tooltip', title: 'Delete',
                        confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

<%# Remove the trailing if condition if you're using pagination. %>
<%= paginate @messages if @messages.respond_to?(:current_page) %>
