<% @title = "Showing quote" %>

<div class="form-horizontal">
  <div class="control-group">
    <label class="control-label">Date of event</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.date_of_event %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Event start time</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.event_start_time %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Event end time</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.event_end_time %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Act form</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.act_form %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Agent</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.agent %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Actcode</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.actcode_id %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Client</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.client_id %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Credit card fee</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.credit_card_fee %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Reception location</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.reception_location %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Cocktails charge</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.cocktails_charge %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Early setup charge</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.early_setup_charge %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Early setup time</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.early_setup_time %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Contract price</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.contract_price %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Charge per horn</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.charge_per_horn %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Other charges</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.other_charges %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Cocktail instrumentation</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.cocktail_instrumentation %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Cocktail time</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.cocktail_time %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Confirmation date</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.confirmation_date %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Contract sent date</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.contract_sent_date %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Date of ceremony</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.date_of_ceremony %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Charge per dancer</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.charge_per_dancer %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Number of dancers</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.number_of_dancers %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Giveaways</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.giveaways %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Giveaways charge</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.giveaways_charge %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Dj tech charge</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.dj_tech_charge %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Tech</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.tech %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Number of horns</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.number_of_horns %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Type of light show</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.type_of_light_show %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Location</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.location_id %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Base price of act</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.base_price_of_act %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Contract status</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.contract_status %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Type of act</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.type_of_act %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Type of event</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.type_of_event %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Party planner</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.party_planner %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Act notes</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.act_notes %></span>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Contract provisions</label>
    <div class="controls">
      <span class="uneditable-input span6"><%= @quote.contract_provisions %></span>
    </div>
  </div>
  
  <div class="form-actions">
    <%= link_to icon_tag("pencil") + ' Edit', edit_quote_path(@quote), class: 'btn btn-primary' %>
    <%= link_to 'Back', quotes_path, class: 'btn' %>
  </div>
</div>

