<p id="notice"><%= notice %></p>

<p>
  <b>Uniquekey:</b>
  <%= @actnote.uniquekey %>
</p>

<p>
  <b>Contract provisions:</b>
  <%= @actnote.contract_provisions %>
</p>

<p>
  <b>Act notes:</b>
  <%= @actnote.act_notes %>
</p>


<%= link_to 'Edit', edit_actnote_path(@actnote) %> |
<%= link_to 'Back', actnotes_path %>
