<table id="products" class="table">
  <thead>
    <tr>
      <th>Act Booked</th>
      <th>Date of Event</th>
      <th>Location city</th>
      <th>Start Time</th>
	<th>End Time</th>
    </tr>
  </thead>
  <tbody>
	<% @contracts.each do |m| %>
	<tr>
  	<td>
		<% unless m.confirmation == 1  %>
			<%= link_to  "#{m.act_booked}" ,  m, :class => "red" %> 
			<% else %>
			<%= link_to  "#{m.act_booked}" ,  m, :class => "green" %>
			<% end %>
</td>
<td><%= m.date_of_event %></td>
<td><%= m.location_city %></td>
<td><%= m.event_start_time %></td>
<td><%= m.event_end_time %></td>
  </tr>
<% end %>
  </tbody>
</table>
