<table id="products" class="table">
  <thead>
    <tr>
      <th>Act Booked</th>
<th>contract Status</th>
      <th>Date of Event</th>
      <th>Location city</th>
      <th>Start Time</th>
	<th>End Time</th>
    </tr>
  </thead>
  <tbody>
	<% @contracts.each do |m| %>
	<tr>
  	<td>
		<% unless m.confirmation == 1  %>
			<%= link_to  "#{m.act_booked}" ,  m, :class => "red" %> 
			<% else %>
			<%= link_to  "#{m.act_booked}" ,  m, :class => "green" %>
			<% end %>
</td>
<td><%= m.contract_status %></td>
<td><%= m.date_of_event %></td>
<td><%= m.location_city %></td>
<td><%= m.event_start_time %></td>
<td><%= m.event_end_time %></td>
<td>
	<% if m.confirmation == 1  %>
	<%= button_to 'Get Info', m, :class => 'btn-success',:method => :get %>
	<% else %>
	<%= button_to 'CONFIRM', confirmjob_path(:id => m.id), :class => 'btn-danger' %>
	<% end %>
	<%#= link_to 'Get Info', contract, :class => 'button blue' %>

	</td>
  </tr>
<% end %>
  </tbody>
</table>

	
	<%= @userss.inspect %>
	