<tr class="<%= cycle("even", "odd") %>">

	<td><%= link_to contract.date_of_event, contract %></td>
	<td><%= link_to contract.contract_number, contract %>
   <td><%= link_to "#{contract.first_name} #{contract.last_name}", contract %></td>
   <td><%= link_to "#{contract.event_start_time} - #{contract.event_end_time}", contract %></td>


   <td><%= link_to contract.type_of_event, contract %></td>
   <td><%= link_to truncate(contract.location_name, :length => 40, :omission =>"..."), contract %></td>

   <td>
	<% if contract.confirmation == 1  %>
	<%= button_to 'Get Info', contract, :class => 'button button_green',:method => :get %>
	<% else %>
	<%= button_to 'CONFIRM', confirmjob_path(:id => contract.id), :class => 'button button_red' %>
	<% end %>
	<%#= link_to 'Get Info', contract, :class => 'button blue' %>

	</td>

 </tr>
