<table class="ui sortable eight column table segment">
  <thead>
    <tr>
        <th><%= link_to "Date of Event", sort: "date_of_event" %> </th>
        <th><%= link_to "Act Booked", sort: "act_booked" %> </th>
        <th><%= link_to "Client Name", sort: "created_at" %></th>
        <th><%= link_to "Contract Status", sort: "contract_status" %></th>

        <th><%= link_to "Type of Event", sort: "type_of_event" %></th>
        <th><%= link_to "Location city", sort: "location_city" %></th>
        <th><%= link_to "Event Time", sort: "event_time" %></th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    <% contract.each do |contract| %>
    <tr>

<td><%= link_to "#{contract.formatted_date_of_event}", contract %></td>
<td><%= contract.act_booked %></td>
<td><%= link_to "#{contract.first_name} #{contract.last_name}", contract %></td>
<td><%= contract.contract_status %></td>

<td><%= contract.type_of_event %></td>
<td><%= contract.location_city %></td>
<td><%= contract.eventtime %></td>

<td>
    <% if contract.confirmation == 1  %>
    <%= button_to 'Get Info', contract, class: 'positive ui button tiny',method: :get %>
    <% else %>
    <%#= button_to 'CONFIRM', m, class: 'btn-danger',method: :get %>
    <%= button_to 'CONFIRM', confirmjob_path(id: contract.id), class: 'negative ui button tiny' %>
    <% end %>
    <%#= link_to 'Get Info', contract, class: 'button blue' %>

    </td>
<td><%#= @version.count %>


        <% unless contract.versions.empty? %>
   <% if contract.versions.last.created_at > contract.updated_at %>
     <% contract.versions.last.changeset.each do |key, value| %>
    <%= "#{key}: Changed to : #{value[1]}" %>
    <% end %>
    <% end %>
    <% end %>
</td>
<%# end %>
  </tr>
<% end %>

  </tbody>
</table>

