<table class="dataTable">
	<thead>
	 <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
	<tbody>
			
				 <tr class="<%= cycle("even", "odd") %>">
					<td><%= sevenday.date_of_event %></td>
					<td><%= link_to sevenday.contract_number, sevenday %>
				    <td><%= "#{sevenday.first_name} #{sevenday.last_name}" %></td>
				    <td><%= "#{sevenday.formatted_event_start_time} - #{sevenday.formatted_event_end_time}" %></td>


				    <td><%= sevenday.type_of_event %></td>
				    <td><%= truncate(sevenday.location_name, :length => 40, :omission =>"...") %></td>

				    <td>
					<% unless sevenday.confirmation == 0  %>
					<%= link_to 'Get Info', sevenday, :class => 'button green small' %>
					<% else %>
					<%= link_to 'CONFIRM', confirmjob_path(:id => sevenday.id), :class => 'button' %> 
					<% end %>
					<%#= link_to 'Get Info', sevenday, :class => 'button blue' %>
			
					</td>

				  </tr>

			
				  </tbody>
				</table>


