
				 <tr class="<%= cycle("even", "odd") %>">
					<td><%= sevenday.date_of_event %></td>
					<td><%= link_to sevenday.contract_number, sevenday %>
				    <td><%= "#{sevenday.first_name} #{sevenday.last_name}" %></td>
				    <td><%= "#{sevenday.formatted_event_start_time} - #{sevenday.formatted_event_end_time}" %></td>


				    <td><%= sevenday.type_of_event %></td>
				    <td><%= truncate(sevenday.location_name, :length => 40, :omission =>"...") %></td>

				    <td>
					<% unless sevenday.confirmation == 0  %>
					<%= button_to 'Get Info', sevenday, :class => 'button button_green' %>
					<% else %>
					<%= button_to 'CONFIRM', confirmjob_path(:id => sevenday.id), :class => 'button button_red' %> &nbsp;
					<% end %>
					<%#= link_to 'Get Info', sevenday, :class => 'button blue' %>
			
					</td>

				  </tr>
