<article class="full-block clearfix">
<div>
       	<header> <h2>Ten Day Contracts</h2></header>

               	<% unless @contract.tenday.blank? %>
			
				<table class="dataTable">
					<thead>
				  <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
				<tbody>
				<% @contract.tenday.each do |contract| %>
				 <tr class="<%= cycle("even", "odd") %>">
					<td><%= contract.date_of_event %></td>
					<td><%= link_to contract.contract_number, contract %>
				    <td><%= "#{contract.first_name} #{contract.last_name}" %></td>
				    <td><%= "#{contract.formatted_event_start_time} - #{contract.formatted_event_end_time}" %></td>


				    <td><%= contract.type_of_event %></td>
				    <td><%= truncate(contract.location_name, :length => 20, :omission =>"...") %></td>

				    <td><% if contract.confirmation == 1 %>
					<%= link_to 'Get Info', contract, :class => 'button green small' %>
					<% else %> 
					<%= link_to 'CONFIRM', confirmjob_path(:id => contract.id), :class => 'button' %> 
					<% end %>
					</td>

				  </tr>

				<% end %>
				  </tbody>
				</table>
				<% else %>
				<div class="nothingpending_ten"> </div>
				<% end %>
       </div>
</article>