<article class="full-block clearfix">	
       <div class="notification success"> <header><strong><h2 class="blue">Thirty Day Contracts</h2></strong></header></div>

               	<% unless @contract.thirtyday.blank? %>
			
				<table class="dataTable">
					<thead>
				  <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
				<tbody>
				<% @contract.thirtyday.each do |contract| %>
				 <tr class="<%= cycle("even", "odd") %>">
					<td><%= contract.date_of_event %></td>
					<td><%= link_to contract.contract_number, contract %>
				    <td><%= "#{contract.first_name} #{contract.last_name}" %></td>
				    <td><%= "#{contract.formatted_event_start_time} - #{contract.formatted_event_end_time}" %></td>


				    <td><%= contract.type_of_event %></td>
				    <td><%= truncate(contract.location_name, :length => 20, :omission =>"...") %></td>

				    <td><%= link_to 'Get Info', contract, :class => 'button blue' %>
					</td>

				  </tr>

				<% end %>
				  </tbody>
				</table>
				<% else %>
				<div class="nothingpending_ten"> </div>
				<% end %>
           </article>
