<%#= @manger.inspect %>
<%#= @mana.actcode.inspect %>
<%#= @contracts.inspect %>

<div id="calendar">

<h1 class="year"><%= link_to @date.year, {month: (Date.today).strftime("%Y-%m-%d")}%></h1>
<h2 class="time"><%= Time.now.strftime("%I:%M %p") %></h2>
<h3 class="month"><%=h @date.strftime("%B") %></h3>

<div>
<center>  <%= button_to " Previous Month ", {month: (@date.beginning_of_month-1).strftime("%Y-%m-%d")}, class: 'btn-warning' %>
  <%= button_to " Goto Today ", {month: (Date.today).strftime("%Y-%m-%d")}, class: 'btn-warning' %>
  <%= button_to " Next Month ", {month: (@date.end_of_month+1).strftime("%Y-%m-%d")}, class: 'btn-warning' %></center>
  </div>
    <%= calendar_for @contracts,{year: @date.year, month: @date.month} do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(day_method: :date_of_event) do |date, contracts| %>
    <%= date.day %>

    <table id="calendar" class="calendar">

        <% contracts.each do |contract| %>

    <tr>
              <td class="noborder">
        <% unless contract.confirmation == 0  %>
        <%= link_to "#{contract.first_name} #{contract.last_name} - #{contract.act_code} ", contract, class: "confirmed" %>
        <% else %>
        <%= link_to "#{contract.first_name} #{contract.last_name} - #{contract.act_code} ", contract, class: "unconfirmed" %>
                <% end %>
              </td>
    </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>


</div>

