<%#= @manger.inspect %>
<%#= @mana.actcode.inspect %>
<%#= @contracts.inspect %>

<div id="calendar">

	<div class="fc-headers">	
		<h2><%= link_to "Today", {:month => (Date.today).strftime("%Y-%m-%d")},:class => 'fc-header-title' %></h2>
    <%= link_to "<", {:month => (@date.beginning_of_month-1).strftime("%Y-%m-%d")}, :class => 'anchorbutton button button_blue' %>
    <span><%=h @date.strftime("%B %Y") %></span>
    <%= link_to ">", {:month => (@date.end_of_month+1).strftime("%Y-%m-%d")}, :class => 'anchorbutton button button_blue' %>
</div>
	<%= calendar_for @contracts,{:year => @date.year, :month => @date.month} do |calendar| %>
	    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
	 <%= calendar.day(:day_method => :date_of_event) do |date, contracts| %>
	      <%= date.day %>

	<table>
		<% contracts.each do |contract| %>
	 <!-- <%# contracts.group_by(&:prntkey23).each do |pk, con| %> -->
	<tr>
	          <td class="events">
		<% unless contract.confirmation == 0  %>
		<%= link_to "#{contract.first_name} #{contract.last_name} - #{contract.act_code}", contract, :class => "confirmed" %>
		<% else %>
		<%= link_to "#{contract.first_name} #{contract.last_name} - #{contract.act_code}", contract, :class => "unconfirmed" %>
				<% end %>
	          </td>
	</tr>
	        <% end %>
	      </table>
	    <% end %>
	  <% end %>
</div>

