
<% if current_user.is? :everythingg %>

<div class="center">
	<div class="inner">
<ul class="widgetlist">
                <li><a href=""><%= image_tag("images/icons/document.png") %><span>Add New Article</span></a></li>
                <li><a href=""><%= image_tag("images/icons/createreport.png") %><span>Create Report</span></a></li>
                <li><a href=""><%= image_tag("images/icons/mail.png") %><span>Compose Mail</span></a></li>
                <li><a href=""><%= image_tag("images/icons/calendar.png") %><span>Manage Events</span></a></li>
                <li><a href=""><%= image_tag("images/icons/media.png") %><span>Media Library</span></a></li>
 </ul>
</div>
<br class="clear">
</div>

<% end %>
<% if current_user.is? :manager %>
<%= render 'otheracts-sidebar' %>
<% end %>
<h2 class="fronth"><%= @actcode.description %></h2>

<h3><span>Contracts in the Next 10 Days</span></h3>
<table class="table table-striped table-bordered table-condensed">
	<thead>
	 <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
<tbody>
<%#= @totalcount.inspect %>
<%#= number_to_currency(@totalnum) %>
<%= render @contract.tenday %>

</tbody>
</table>

<%= render 'alljobs' %>




