
<% if current_user.is? :everythingg %>

<div class="center">
	<div class="inner">
<ul class="widgetlist">
                <li><a href=""><%= image_tag("images/icons/document.png") %><span>Add New Article</span></a></li>
                <li><a href=""><%= image_tag("images/icons/createreport.png") %><span>Create Report</span></a></li>
                <li><a href=""><%= image_tag("images/icons/mail.png") %><span>Compose Mail</span></a></li>
                <li><a href=""><%= image_tag("images/icons/calendar.png") %><span>Manage Events</span></a></li>
                <li><a href=""><%= image_tag("images/icons/media.png") %><span>Media Library</span></a></li>
 </ul>
</div>
<br class="clear">
</div>

<% end %>
<% if current_user.is? :manager %>
<%= render 'otheracts-sidebar' %>
<% end %>
<h2 class="fronth"><%= @actcode.description %></h2>

<h3><span><%= @actcode.description %> Contracts in the Next 10 Days</span></h3>
<table id="products" class="table">
	<thead>
	 <tr>
					<th>Date of Event</th>
					<th>Contract #</th>
				    <th>Client Name</th>
				    <th>Hours of coverage</th>


				    <th>Event Type</th>
				    <th>Location</th>

					<th> </th>
				  </tr>
				</thead>
<tbody>
	<% @contract.contractstatsus.tenday.each do |contract| %>
	<tr>
		<td><% unless contract.confirmation == 1  %>
			<%= link_to contract.date_of_event,  contract, :class => "red" %> 
			<% else %>
			<%= link_to contract.date_of_event,  contract, :class => "green" %>
			<% end %>
	</td>
			<td><%= link_to contract.contract_number, contract %>
		   <td><%= link_to "#{contract.first_name} #{contract.last_name}", contract %></td>
		   <td><%= link_to "#{contract.event_start_time} - #{contract.event_end_time}", contract %></td>


		   <td><%= link_to contract.type_of_event, contract %></td>
		   <td><%= link_to truncate(contract.location_name, :length => 40, :omission =>"..."), contract %></td>

		   <td>
			<% if contract.confirmation == 1  %>
			<%= button_to 'Get Info', contract, :class => 'btn-success',:method => :get %>
			<% else %>
			<%= button_to 'CONFIRM', confirmjob_path(:id => contract.id), :class => 'btn-danger' %>
			<% end %>
			<%#= link_to 'Get Info', contract, :class => 'button blue' %>

			</td>
		
<%#= render @contract.tenday %>
</tr>
<% end %>
</tbody>
</table>
<br>
<h3><span>All Management Team contracts in the Next 10 Days</span></h3>
<%= render 'alljobs' %>




