
<% if current_user.is? :everythingg %>

<div class="center">
	<div class="inner">
<ul class="widgetlist">
                <li><a href=""><%= image_tag("images/icons/document.png") %><span>Add New Article</span></a></li>
                <li><a href=""><%= image_tag("images/icons/createreport.png") %><span>Create Report</span></a></li>
                <li><a href=""><%= image_tag("images/icons/mail.png") %><span>Compose Mail</span></a></li>
                <li><a href=""><%= image_tag("images/icons/calendar.png") %><span>Manage Events</span></a></li>
                <li><a href=""><%= image_tag("images/icons/media.png") %><span>Media Library</span></a></li>
 </ul>
</div>
<br class="clear">
</div>
<% end %>
<% if current_user.is? :manager %>
<%= render 'otheracts-sidebar' %>
<% end %>
<h2 class="fronth"><%= @actcode.description %></h2>

<h3><span>Contracts in the Next 10 Days</span></h3>
<table cellpadding="0" cellspacing="0" class="sTable" width="100%">
	<thead class="sTableHead">
	 <tr>
					<th class="head0">Date of Event</th>
					<th class="head1">Contract #</th>
				    <th class="head0">Client Name</th>
				    <th class="head1">Hours of coverage</th>


				    <th class="head0">Event Type</th>
				    <th class="head1">Location</th>

					<th class="head0"> </th>
				  </tr>
				</thead>
<tbody>



<%= render @contract.tenday %>

</tbody>
</table>



