<p>
  <b>Accounting confirmation date:</b>
  <%= @contract.accounting_confirmation_date %>
</p>

<p>
  <b>Hours of coverage:</b>
  <%= @contract.hours_of_coverage %>
</p>

<p>
  <b>Act form:</b>
  <%= @contract.act_form %>
</p>

<p>
  <b>Act net:</b>
  <%= @contract.act_net %>
</p>

<p>
  <b>Agent:</b>
  <%= @contract.agent %>
</p>

<p>
  <b>Act booked:</b>
  <%= @contract.act_booked %>
</p>

<p>
  <b>Credit card fee:</b>
  <%= @contract.credit_card_fee %>
</p>

<p>
  <b>Ceremony address line 2:</b>
  <%= @contract.ceremony_address_line_2 %>
</p>

<p>
  <b>Ceremony location city:</b>
  <%= @contract.ceremony_location_city %>
</p>

<p>
  <b>Ceremony instrumenttation:</b>
  <%= @contract.ceremony_instrumenttation %>
</p>

<p>
  <b>Ceremonoy location name:</b>
  <%= @contract.ceremonoy_location_name %>
</p>

<p>
  <b>Seremonly location state:</b>
  <%= @contract.seremonly_location_state %>
</p>

<p>
  <b>Ceremony start time:</b>
  <%= @contract.ceremony_start_time %>
</p>

<p>
  <b>Ceremony location zip:</b>
  <%= @contract.ceremony_location_zip %>
</p>

<p>
  <b>Ceremony charge:</b>
  <%= @contract.ceremony_charge %>
</p>

<p>
  <b>Cocktails charge:</b>
  <%= @contract.cocktails_charge %>
</p>

<p>
  <b>Early setup charge:</b>
  <%= @contract.early_setup_charge %>
</p>

<p>
  <b>Contract price:</b>
  <%= @contract.contract_price %>
</p>

<p>
  <b>Charge per horn:</b>
  <%= @contract.charge_per_horn %>
</p>

<p>
  <b>Other charges:</b>
  <%= @contract.other_charges %>
</p>

<p>
  <b>Cocktail instrumentation:</b>
  <%= @contract.cocktail_instrumentation %>
</p>

<p>
  <b>Confirmation date:</b>
  <%= @contract.confirmation_date %>
</p>

<p>
  <b>Contract sent date:</b>
  <%= @contract.contract_sent_date %>
</p>

<p>
  <b>Contract number:</b>
  <%= @contract.contract_number %>
</p>

<p>
  <b>Contract revision number:</b>
  <%= @contract.contract_revision_number %>
</p>

<p>
  <b>Date of cancellation:</b>
  <%= @contract.date_of_cancellation %>
</p>

<p>
  <b>Date of ceremony:</b>
  <%= @contract.date_of_ceremony %>
</p>

<p>
  <b>Charge per dancer:</b>
  <%= @contract.charge_per_dancer %>
</p>

<p>
  <b>Number of dancers:</b>
  <%= @contract.number_of_dancers %>
</p>

<p>
  <b>Giveaways:</b>
  <%= @contract.giveaways %>
</p>

<p>
  <b>Giveaways charge:</b>
  <%= @contract.giveaways_charge %>
</p>

<p>
  <b>Dj tech charge:</b>
  <%= @contract.dj_tech_charge %>
</p>

<p>
  <b>Tech:</b>
  <%= @contract.tech %>
</p>

<p>
  <b>Event end time:</b>
  <%= @contract.event_end_time %>
</p>

<p>
  <b>Early setup time:</b>
  <%= @contract.early_setup_time %>
</p>

<p>
  <b>Number of horns:</b>
  <%= @contract.number_of_horns %>
</p>

<p>
  <b>Type of light show:</b>
  <%= @contract.type_of_light_show %>
</p>

<p>
  <b>Location address line 1:</b>
  <%= @contract.location_address_line_1 %>
</p>

<p>
  <b>Location address line 2:</b>
  <%= @contract.location_address_line_2 %>
</p>

<p>
  <b>Location name:</b>
  <%= @contract.location_name %>
</p>

<p>
  <b>Location city:</b>
  <%= @contract.location_city %>
</p>

<p>
  <b>Location state:</b>
  <%= @contract.location_state %>
</p>

<p>
  <b>Location zip:</b>
  <%= @contract.location_zip %>
</p>

<p>
  <b>Non commissionable charges:</b>
  <%= @contract.non_commissionable_charges %>
</p>

<p>
  <b>Location phone:</b>
  <%= @contract.location_phone %>
</p>

<p>
  <b>Pick up amount:</b>
  <%= @contract.pick_up_amount %>
</p>

<p>
  <b>Explanation opf pickup adjustment:</b>
  <%= @contract.explanation_opf_pickup_adjustment %>
</p>

<p>
  <b>Capital music player:</b>
  <%= @contract.capital_music_player %>
</p>

<p>
  <b>Capital music pay:</b>
  <%= @contract.capital_music_pay %>
</p>

<p>
  <b>Base price of act:</b>
  <%= @contract.base_price_of_act %>
</p>

<p>
  <b>Questionnaire received date:</b>
  <%= @contract.questionnaire_received_date %>
</p>

<p>
  <b>Questionnaire sent date:</b>
  <%= @contract.questionnaire_sent_date %>
</p>

<p>
  <b>Referral fee amount:</b>
  <%= @contract.referral_fee_amount %>
</p>

<p>
  <b>Referral fee to:</b>
  <%= @contract.referral_fee_to %>
</p>

<p>
  <b>Song requests:</b>
  <%= @contract.song_requests %>
</p>

<p>
  <b>Event start time:</b>
  <%= @contract.event_start_time %>
</p>

<p>
  <b>Contract status:</b>
  <%= @contract.contract_status %>
</p>

<p>
  <b>Tax amount:</b>
  <%= @contract.tax_amount %>
</p>

<p>
  <b>Type of act:</b>
  <%= @contract.type_of_act %>
</p>

<p>
  <b>Type of event:</b>
  <%= @contract.type_of_event %>
</p>

<p>
  <b>Videographer 1:</b>
  <%= @contract.videographer_1 %>
</p>

<p>
  <b>Videographer 2:</b>
  <%= @contract.videographer_2 %>
</p>

<p>
  <b>Videgrapher 3:</b>
  <%= @contract.videgrapher_3 %>
</p>

<p>
  <b>Act notes:</b>
  <%= @contract.act_notes %>
</p>

<p>
  <b>Contract provisions:</b>
  <%= @contract.contract_provisions %>
</p>
