<div class="sheet sheet-condensed">
<div class="sheet-inner texture">
	<% if can? :see_money, @contracts %>
		<div id="money">
			<dt><b class="themoney"><%= number_to_currency(@contract.contract_price) %></b> - <span>Contract price:</span>        </dt> 
			<dt class="middle"><b class="themoney"><%= number_to_currency(@contract.act_net) %></b> - <span>Contract Net:</span> 			</dt> 
			<dt><b class="themoney"><%= number_to_currency(@contract.pick_up_amount) %></b> - <span>Pickup Amount:</span> 		</dt>      
		</div>
	<% end %>
<%= makebutton %>
<h2 class="theheader">Act Booked - <%= @contract.act_booked %></h2>
<div class="theheader">
<div class="row">
<%= render :partial => 'show/mainandmap' %>
<%= render :partial => 'show/clientextra' %>
<%= render :partial => 'show/provision' %>
<%= render :partial => 'show/weddingstuff' %>
<%= render :partial => 'show/moneysection' %>

<%#= @audit.each_key {|key| puts key } %>
<dt>Contract Changes</dt><br>
<%  @history.each do |g| %>
<%= "#{g.created_at} - #{g.attr_name} - #{g.old_value} - #{g.new_value}" %> <br>

<% end %>
	</div>
</div>
</div>
</div>



