<div class="sheet sheet-condensed">
<div class="sheet-inner texture">
	<% if can? :see_money, @contracts %>
		<div id="money">
			<dt><b class="themoney"><%= number_to_currency(@contract.contract_price) %></b> - <span>Contract price:</span>        </dt> 
			<dt class="middle"><b class="themoney"><%= number_to_currency(@contract.act_net) %></b> - <span>Contract Net:</span> 			</dt> 
			<dt><b class="themoney"><%= number_to_currency(@contract.pick_up_amount) %></b> - <span>Pickup Amount:</span> 		</dt>      
		</div>
	<% end %>
<%= makebutton %>
<h2 class="theheader">Act Booked - <%= @contract.act_booked %></h2>
<div class="theheader">
<div class="row">
<%= render :partial => 'show/mainandmap' %>
<%= render :partial => 'show/clientextra' %>
<%= render :partial => 'show/provision' %>
<%= render :partial => 'show/weddingstuff' %>
<%= render :partial => 'show/moneysection' %>

<%#= @audit.each_key {|key| puts key } %>
<div class="span8 white thumbnail margintop">
<dt>Contract Changes</dt><br>
<div class="sheet sheet-condensed">
  <div class="sheet-inner">
<table class="table">
	<thead>
	 <tr>
		<th>Date of Change</th>
		<th>Type of Change</th>
		<th>Old</th>
		<th>New Change</th>
		</tr></thead>
		<tbody>
<% @history.each do |g| %>
	<tr>
<td><%= "#{g.created_at}" %> </td>
<td><%= "#{g.attr_name}" %> </td>
<td><%= "#{g.old_value}"%> </td>
<td><%= "#{g.new_value}" %> </td>
	</tr>
<% end %>
</tbody>
</table>
</div></div></div>
	</div>
</div>
</div>
</div>



