<h1 class="maroon">Event Information</h1>
<div class="alert-message block-message info">
  <div>
	  <h4 class="blue"> <b>Event Time</b> 
		<%#= @contract.theeventdate %>
	</h4>
	</div>
	<div>
	<h2>	Agent : <%= @contract.agent %> </h2>
		<div>
		 <h4 class="blue">Contract number: <%= @contract.contract_number %></h4>
					  <h4 class="green">Contract price:
	  					<%= @contract.contract_price %></h4>
		</div>
		<div>
		<% unless @contract.location_name.blank? %>	<b> Location :</b>
			
			 <h5><%= @contract.location_name %><br>
			<%= @contract.location_address_line_1 %><br>
			<%= @contract.location_address_line_2 %><br>
			<%= @contract.location_city %> <%= @contract.location_state %>  <%= @contract.location_zip %><br>
			Phone:<%= @contract.location_phone %></h5>
			<h3>Additional Services</h3>
	
			<% end %>
		</div>

	</div>
	</div>



