<div class="sheet sheet-condensed">
    <%= switch_user_select %>
<div class="sheet-inner texture">
    <%= render 'show/topmoney', contract: @contract %>

<div class="theheader">
<div class="row">
<%= render  "show/mainandmap", contract: @contract %>
<%= render  "show/clientextra", contract: @contract %>
<%= render  "show/provision", contract: @contract %>
<%= render  "show/weddingstuff", contract: @contract %>
<%= render  "show/moneysection", contract: @contract %>
</div>
</div>
</div>
</div>



