<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),:html => { :class => 'form-horizontal' }) do |f| %>

     <%= f.input :actcode_name, :hint => "Must be in All Caps"%>
        <%= f.input :password,  class: "password" %>
        <%= f.submit "Login", class: "btn-primary" %>
    <%= render partial: "devise/shared/links" %>
<% end %>

<h3> Staff member login here </h3>
<%= link_to "Dancers Login", 'auth/facebook' %>

