<%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:html => { :id => "loginform" }) do |f| %>
<div class="loginbox">	
	<div class="loginbox_inner">
    	<div class="loginbox_content">
	<%= f.label :actcode %>
		<%= f.text_field :actcode_name,  :class => "username" %><br /><br />
		<%= f.label :password %>
		<%= f.password_field :password,  :class => "password" %>
	<br /><br />
		<%= button_tag "Login", :class => "submit" %>		
         </div><!--loginbox_content-->
    <%= render :partial => "devise/shared/links" %></div><!--loginbox_inner-->
</div><!--loginbox-->
<% end %>