	<div id="login" title="login" selected="true" class="panel">
<%= form_for(resource, :as => resource_name, :html => {:class=> "panel", :name => "formname", :title => "login"}, :url => session_path(resource_name)) do |f| %>
 <%= devise_error_messages! %>
 <fieldset>
  <div class="row">
	<%= label(:email, "Email") %>

  <%= f.email_field :email %>
   </div>
  <div class="row">
	<%= label(:password, "Password") %>

  <%= f.password_field :password, :required => true %>

</div>
 </fieldset>
<a class="whiteButton" href="javascript:formname.submit()">Login me in!</a>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
