<div class="form_default">
<%= @user.build_actcode unless @user.actcode %>
<%= semantic_form_for(@user,:html => { :class => "form_default", :method => :put}) do |f| %>
<%= f.inputs :email,:hint => 'Hey - no more than 255 characters can be input!!!', %>
<%= f.inputs :first_name, :last_name, :phone_number %>
<% if can? :everything, @users %>
<%= f.inputs :management %>
<%= f.input :actcode, :as => :select, :collection => Actcode.all.map {|m|[m.actcode, m.id]} %>
<%#= f.semantic_fields_for :actcode do |profile| %>
    <%#= profile.inputs %>
  <%# end %>

<% else %>
<% unless @user.actcode_id.blank? %>
<p><strong>Actcode : <%= @user.actcode.actcode %>
	<% end %>
	<br>
	<% unless @user.management_id.blank?%>
Management Company : <%= @user.management.name %></p>
<% end %>
</strong>
<% end %>
<p>
<% if current_user.is? :everything %>
<h3><span>Privileges</span></h3> 
<% for role in User::ROLES %>
<%= check_box_tag "user[roles][]", role, @user.roles.include?(role) %>
   <%=h role.humanize %>
<% end %>
<%= hidden_field_tag "user[roles][]", "" %>
<% end %>
<br></p>
<%#= f.input :current_password, :label => "You Must Enter Your Password To Update", :required => true %><br>
<%= f.commit_button :button_html => { :class => 'button button_green' } %>
</p>
<% end %>

</div>
