<div class="ui grid">
<div class="six wide column">
<div class="ui piled segment">
<div class="ui form">
<div class="ui input">
<% #user.build_actcode unless user.actcode_name.blank? %>
<%= simple_form_for(user,html: {  method: :put}) do |f| %>
<%= f.input :email,hint: 'Hey - no more than 255 characters can be input!!!', %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :phone_number %>
<hr>

<% if can? :everything, @users %>
<%= f.association :management %>
<%= f.input :actcode_name %>
<% else %>
<% unless user.actcode_name? %>
<p><strong>Actcode : <%= user.actcode_name %>
    <% end %>
    <% unless user.management_id.blank? %>
Management Company : <%= user.management.name %></p>
<% end %>
</strong>
<% end %>
<p>
<%# if can? :assign_roles, User %>
<% if current_user.is? :everything %>

<h3><span>Privileges</span></h3>
<% for role in User::ROLES %>

<%= check_box_tag "user[roles][]", role, user.roles.include?(role) %>

 <label><%=h role.humanize %></label>

<% end %>

<%= hidden_field_tag "user[roles][]", "" %>
<% end %>

<br>
<hr>
 <%= f.input :current_password %>
<%= f.input :password %></p>
<%= f.input :password_confirmation %>

</p>
<%#= f.input :current_password, label: "You Must Enter Your Password To Update", required: true %><br>
<%= f.submit button_html: { class: 'ui green button' } %>
</p>
<% end %>
</div>
</div>
</div>
</div>





