<%= link_to "WTA Act Manager", root_url, {:class => 'logo'}%>
	<h4>Washington Talent Act Manager</h4>
	<%= gravatar_image_tag current_user.email, :size => 30 %>
		<div> Welcome, <em><%= current_user.first_name %></em></div>
		<div>	<%= link_to 'Logout', destroy_user_session_path, :class => 'button blue small' %></div>

<nav id="main-nav">
<ul class="leftmenu">
       	<%= render 'loginmenu' %>
<%= switch_user_select %>
</ul>
</nav>


<% if can? :see_others, @contract %> 
<section><%= render 'otheracts-sidebar'%> </section>
<% end%>

<section class="sidebar separator"><%= render 'messages' %></section>

</section>


