<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hello <%= @user.first_name %></h1>
<div class="invoicez">
		<div class="invoice_inners">
			<div class="tan">
		<div class="one_half">	
			<h2>Act Name:<%= @contract.act_booked %></h2>
			<h2><%= @contract.type_of_event %></h2>
			<h4>Form Of: <%= @contract.act_form %></h4>
				<h3> <span>Event Location</span></h3>
			<p class="address"><%= @contract.location_name %><br>
		   	<%= "#{@contract.location_address_line_1}" %> <br> <%= "#{@contract.location_city} #{@contract.location_state} #{@contract.location_zip}" %><br>
		Phone:<%= @contract.location_phone %></p><br clear="all">
		</div>
		<hr>
		<div class="one_half last">
		<h4 class="<%= @contract.status %> padding15 textindent">Contract Status:<%= @contract.contract_status %></h4>
		<h2 class="yesido"> <b>Date of event: </b><%= @contract.date_of_event.to_formatted_s(:eventdate) %>	</h2>
		<h2 class="yesido"> <b>Event Time: </b><%= @contract.eventtime %>	</h2>
		<h5>Agent : <%= @contract.agent %> </h4>
		<h5 class="blue">Contract number: <%= @contract.contract_number %></h5>
		<h5 class="green">Pickup Amount: $<%= @contract.pick_up_amount %></h5>
		</div>
	</div>
		<hr>
			<div class="widgetbox one_half">
		<h3> <span>Client Section</span></h3>
		<div class="content">
		<%= @contract.ceremonoy_location_name %>
		<%= @contract.ceremony_address_line_2 %>
		<%= @contract.ceremony_location_city %>
		<%= @contract.ceremony_instrumenttation %>
		<%= @contract.seremonly_location_state %>
		<%= @contract.ceremony_location_zip %>
		<%= @contract.ceremony_start_time %>

		Client Info: <%= @contract.first_name %> <%= @contract.last_name %><br>
		Email Address: <%= @contract.email_address %><br>
		Bride / Bat Mitzvah Name: <%= @contract.brides_names %><br>
		Grooms / Bar Mitzvah Name: <%= @contract.grooms_name %><br>

		Home Phone: <%= @contract.home_phone %><br>
		Work Phone: <%= @contract.work_phone %><br>
		Cell Phone: <%= @contract.cell_phone %><br>
		</div>
		</div>
			<div class="widgetbox one_half last">
				<h3> <span>Extras Section</span></h3>
				<div class="content">
		<%= @contract.early_setup_time %>


		<%= @contract.cocktail_instrumentation %>


		<span>Giveaways:</span> <%= @contract.giveaways %><br>
		Type of Light Show : <%= @contract.type_of_light_show %>
		<%= @contract.explanation_opf_pickup_adjustment %>
		<%= @contract.capital_music_player %>
		<%= @contract.questionnaire_received_date %><br>
		Referral Fee to :<%= @contract.referral_fee_to %><br>
		Song Requests: <%= @contract.song_requests %><br>
		<%= @contract.videographer_1 %>
		<%= @contract.videographer_2 %>
		<%= @contract.videgrapher_3 %>
		<%= @contract.company %>
		</div>
		</div>
	<hr class="show-line">

		<div class="widgetbox one_half">
			<h3><span>Contract Provisions</span></h3>
							<div class="content lesspadding">
								<% unless @contract.contract_provisions == "nil" %>
									<%=  @contract.contract_provisions.gsub('"', ' ') unless @contract.contract_provisions.blank? %>
								<% end %>
							</div>
						</div>
						<div class="widgetbox one_half last">
						<h3><span>Act Notes</span></h3>
							<div class="content lesspadding">
								<% unless  @contract.act_notes == "nil" %>
									<%= @contract.act_notes %>
								<% end %>


						</div>
							</div>
							<br clear="all">

						<div class="widgetbox">
			<h3><span>Additional Services Provided</span></h3>
			<div class="content lesspadding">
		<ul>
				<% @additional.each do |addi| %>
				
						<li><%= addi.act_booked %> - <%= addi.type_of_act %> - <%= addi.act_form %></li>
					</ul>
					<% end %>
				</div>
				</div>

	</div>
	</div>
	<br clear="all">

  </body>
</html>