<div class="span4 white thumbnail margintop">
<h3 class="sectionheaders"><span>Client Section</span></h3>
<dt>	Client Info:</dt> <%= contract.first_name %> <%= contract.last_name %><br>
<dt>	Email Address:</dt> <%= contract.email_address %><br>
<dt>	Bride / Bat Mitzvah Name:</dt> <%= contract.brides_names %><br>
<dt>	Grooms / Bar Mitzvah Name: </dt> <%= contract.grooms_name %><br>
<dt>	Home Phone:</dt> <%= contract.home_phone %><br>
<dt>	Work Phone:</dt> <%= contract.work_phone %><br>
<dt> 	Cell Phone:</dt> <%= contract.cell_phone %>
</div>
<div class="span4 white thumbnail margintop">
<h3 class="sectionheaders"> <span>Extras Section</span></h3>

<dt>Early setup Time:</dt> <%= contract.early_setup_time %><br>
<dt>Giveaways:</dt> <%= contract.giveaways %><br>
<dt>Type of Light Show :</dt> <%= contract.type_of_light_show %><br>
<dt> Number of Horns:</dt> <%= contract.number_of_horns %><br>
<dt>Number of Dancers:</dt> <%= contract.number_of_dancers %><br>
<dt>Pick up Reason</dt> <%= contract.explanation_opf_pickup_adjustment %>
<%= contract.capital_music_player %>
<%= contract.questionnaire_received_date %><br>
<dt>	Referral Fee to :</dt> <%= contract.referral_fee_to %><br>
<dt>	Song Requests: </dt> <%= contract.song_requests %><br>
<dt>  Cocktail Instrumentation: </dt> <%= contract.cocktail_instrumentation %><br>
<dt>  Cocktail Time: </dt> <%= contract.cocktail_time %><br>
<dt>Company:</dt> <%= contract.company %>
</div>