<div class="span5 white thumbnail"><h2>Activites</h2>
    <h2><%= contract.type_of_event %></h2>
    <h4>Operating as: <%= contract.type_of_act %></h4>
    <h4><%= contract.act_form %></h4>
    <h4>Agent : <%= contract.agent %> </h4>
    <h4>Reception Location: <%= contract.reception_location %></h4>
    <h5 class="padding15 textindent">Contract Status: <%= contract.contract_status %></h5>
    <hr>
    <h4 class="yesido"> <b>Date of event: </b><%= contract.date_of_event.to_formatted_s(:eventdate) %>  </h4>
    <h4 class="yesido"> <b>Event Time: </b><%= contract.eventtime %>    </h4>
    <h5 class="blue">Contract number: <%= contract.contract_number %></h5>
    <h4 class="green">Pickup Amount: <%= number_to_currency(contract.pick_up_amount) %></h4>
   <% if can? :see_money, @contracts %>
  <h4 class="green">Contract price: <%= number_to_currency(contract.contract_price)  %></h4>
   <% end %>
   <% unless current_user.is? :no_money %>
 <h4 class="green">Contract Net: <%= number_to_currency(contract.act_net) %></h4>
<% end %>

</div>

<div class="span3 white thumbnail">
<% if contract.location_name? %>
    <img src="http://maps.google.com/maps/api/staticmap?center=<%= themap %>&zoom=15&size=275x275&maptype=roadmap&sensor=true&markers=<%= themap %>" alt="Static Map for Events"></img><br>
    <h3> <span>Event Location</span></h3>
    <%= contract.location_name %><br>
    <%= "#{contract.location_address_line_1}" %> <br> <%= "#{contract.location_city} #{contract.location_state} #{contract.location_zip}" %><br>
    Phone: <%= contract.location_phone %>
    <% end %><br><br>
    <%= button_to("Get Directions", "http://maps.google.com/maps?saddr=current&daddr=#{themap}", class: 'btn-success')%>
</div>