<% unless contract.videographer_1.blank? && contract.videographer_2.blank? %>
<div class="ui fluid form segment">
       <div class="ui top attached black label">Players Section
       </div><br>
<%= content_tag(:div,"Player 1:   #{contract.videographer_1}") %>
<%= content_tag(:div,"Player 2:   #{contract.videographer_2}") %>
<%= content_tag(:div,"Player 3:   #{contract.videgrapher_3}") %>
<%= content_tag(:div,"Player 4:   #{contract.player4}") %>
<%= content_tag(:div,"Player 5:   #{contract.player5}") %>
<%= content_tag(:div,"Player 6:   #{contract.player6}") %>
<%= content_tag(:div,"Player 7:   #{contract.player7}") %>
<%= content_tag(:div,"Player 8:   #{contract.player8}") %>
<hr class="show-line">
</div>
<% end %>