<% if can? :see_money, @contracts %>
    <div id="money">
        <dt><b class="themoney"><%= number_to_currency(contract.contract_price) %></b> - <span>Contract price:</span>        </dt>
        <dt class="middle"><b class="themoney"><%= number_to_currency(contract.act_net)  %></b> - <span>Contract Net:</span> </dt>
        <dt><b class="themoney"><%= number_to_currency(contract.pick_up_amount) %></b> - <span>Pickup Amount:</span>        </dt>
    </div>
<% end %>
<div class="theheader">
 <% if contract.date_of_event < Date.today + 11.days %>
   <%   if contract.confirmation == 0 %>
   <%=   button_to ' CONFIRM THIS EVENT ', confirmjob_path(id: contract.id), class: 'btn-primary'%>
    <%  else %>
    <% if current_user.is? :manager %>
    <%= button_to 'Email Job Information - All Money', emailjobwithallmoney_path(id: contract.id), class: 'btn-warning' %>
    <%= button_to 'Email Job Information With Net Money', emailjobwithnetonly_path(id: contract.id), class: 'btn-warning' %>
    <%= button_to 'Email Job Information Without Money', emailjobnomoney_path(id: contract.id), class: 'btn-success' %>
  <% elsif current_user.is? :no_money %>
<%= button_to 'Email Job Information', emailjobnomoney_path(id: contract.id), class: 'btn-success' %>
<% else %>
 <%= button_to 'Email Job Information With Net Money', emailjobwithnetonly_path(id: contract.id), class: 'btn-warning' %>
  <%= button_to 'Email Job Information Without Money', emailjobnomoney_path(id: contract.id), class: 'btn-success' %>
    <% end %>

</div>
<% end %>
<% end %>

<h2 class="theheader">Act Booked - <%= contract.act_booked %></h2>