<div class="loginoption"><h2>Change your password?</h2>

<%= semantic_form_for(resource,:html => { :class => "form-stacked xlarge", :method => :post}, :as => resource_name, :url => password_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<%= f.input :email %><br />
 

  	<%= f.buttons do %>
		<%= f.commit_button :button_html => { :class => "btn success"},:label => "Change Password" %>
		<% end %>
<% end %>

<%#= render :partial => "devise/shared/links" %>
</div>