<% @title = "Listing activities" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/activities/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_activity_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Activity
  <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>

        <tr>
          <td>
<%=  activity.trackable %>
<%#= activity.inspect %></td>
          <td class="actions">
            <%#= link_to icon_tag("eye-open"), activity, rel: 'tooltip', title: 'Show' %>
            <%#= link_to icon_tag("pencil"), edit_activity_path(activity), rel: 'tooltip', title: 'Edit' %>
            <%#= link_to icon_tag("trash"), activity, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

<%# Remove the trailing if condition if you're using pagination. %>
<%= paginate @activities if @activities.respond_to?(:current_page) %>
<% @title = "Listing activities" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/activities/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_activity_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Activity
  <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%#= activity.index %></td>
          <td class="actions">
            <%#= link_to icon_tag("eye-open"), activity, rel: 'tooltip', title: 'Show' %>
            <%#= link_to icon_tag("pencil"), edit_activity_path(activity), rel: 'tooltip', title: 'Edit' %>
            <%#= link_to icon_tag("trash"), activity, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

<%# Remove the trailing if condition if you're using pagination. %>
<%= paginate @activities if @activities.respond_to?(:current_page) %>
<% @title = "Listing activities" %>

<% content_for :description do %>
  <p>Edit this template in <code>app/views/activities/index.html.erb</code>.</p>
<% end %>

<% content_for :actions do %>
  <%= link_to new_activity_path, class: 'btn btn-primary btn-large pull-right' do %>
    <%= icon_tag "plus" %> Add Activity
  <% end %>
<% end %>

<div class="sheet sheet-condensed">
  <div class="sheet-inner">
    <table class="table">
      <thead>
        <tr>
          <th>Index</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @activities.each do |activity| %>
        <tr>
          <td><%#= activity.index %></td>
          <td class="actions">
            <%#= link_to icon_tag("eye-open"), activity, rel: 'tooltip', title: 'Show' %>
            <%#= link_to icon_tag("pencil"), edit_activity_path(activity), rel: 'tooltip', title: 'Edit' %>
            <%#= link_to icon_tag("trash"), activity, rel: 'tooltip', title: 'Delete',
                        data: { confirm: 'Are you sure?' }, method: :delete %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div><!-- /.sheet-inner -->
</div><!-- /.sheet -->

<%# Remove the trailing if condition if you're using pagination. %>
<%= paginate @activities if @activities.respond_to?(:current_page) %>
