<%#= will_paginate @actcodes %>

<%= render :partial => 'searchit' %>

<table cellpadding="0" cellspacing="0" class="sTable" width="100%">
			<thead class="sTableHead">
  <tr>
    <th class="head0">Actcode</th>
	<th class="head0">Act Code Id</th>
    <th class="head0">Management Company</th>
 	<th class="head0">Description</th>
    <th class="head0"></th>
    <th class="head0"></th>
    <th class="head0"></th>
  </tr>
</thead>
<% @actcodes.each do |actcode| %>
  <tr>
    <td><%= actcode.actcode %>
<% unless actcode.id.blank?  %>
<td><%= actcode.id %></td>
<% end %>
    <td><% unless actcode.management_id.blank? %> 
	<%#= actcode.management.name %> 
	<% end %></td>
<td><%= actcode.description %></td>
    <td><%= link_to 'Show', actcode %></td>
    <td><%= link_to 'Edit', edit_actcode_path(actcode) %></td>
    <td><%= link_to 'Destroy', actcode, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Actcode', new_actcode_path, :class => 'button button_blue',:method => :get %>
<%= will_paginate @actcodes %>