<p id="notice"><%= notice %></p>

<p>
  <b>Actcode:</b>
  <%= @actcode.actcode %>
</p>

<p>
  <b>Management Company:</b>
<% unless @actcode.management_id.blank? %> 
  <%= @actcode.management.name %>
<% end %>
</p>
<p>
  <b>Descripttion:</b>
  <%= @actcode.description %>
</p>

<%= link_to 'Edit', edit_actcode_path(@actcode) %> |
<%= link_to 'Back', actcodes_path %>
