
<li><%= link_to(root_path, html_options = {:class => "home"} ) do %>
<span>Home</span>
<% end %>
</li>
<li><%= link_to(calendar_path, html_options = {:class => "users"}) do %>
<span>Calendar</span>
<% end %>
</li>
<% if current_user.is? :manager %>
<li><%= link_to(users_path, html_options = {:class => "users"}) do %>
<span>Users</span>
<% end %>
</li>
<% if current_user.is? :everything %>
<li><%= link_to(managements_path, html_options = {:class => "elements"}) do %>
<span>Companies</span>
<% end %>
</li>

<li><%= link_to(actcodes_path, html_options = {:class => "users"}) do %>
<span>Actcodes</span>
<% end %>
</li>
<li><%= link_to(alljobs_path, html_options = {:class => "users"}) do %>
<span>All Job In Next Ten Days</span>
<% end %>
</li>

<% end %>
<% end %>
<li><%= link_to (destroy_user_session_path) do %>
<span>Logout</span>
<% end %>
</li>