<% if contract.date_of_event < Date.today + 11.days %>

<div class="ui raised segment">
<br />
   <%   if contract.confirmation == 0 %>
   <%=   button_to ' CONFIRM THIS EVENT ', confirmjob_path(id: contract.id), class: 'ui red button', 'data-theme' => 'd'%>
    <%  else %>
    <% if current_user.is? :manager %>
<div class="ui relaxed divided list">
<div class="item">

<div class="content">
       <div class="ui top attached red label">Email Job Info
       </div>
    <%= button_to 'Email Job Info - All Money', emailjobwithallmoney_path(id: contract.id), class: 'tiny item', 'data-theme' => 'f' %>
</div></div>
    <%= button_to 'Email Job Info With Net Money', emailjobwithnetonly_path(id: contract.id), class: 'small item', 'data-theme' => 'b' %>
    <%= button_to 'Email Job Info Without Money', emailjobnomoney_path(id: contract.id), class: 'item', 'data-theme' => 'd' %>
  <% elsif current_user.is? :no_money %>
<%= button_to 'Email Job Information', emailjobnomoney_path(id: contract.id), class: 'item', 'data-theme' => 'd' %>
<% else %>
 <%= button_to 'Email Job Information With Net Money', emailjobwithnetonly_path(id: contract.id), class: 'item', 'data-theme' => 'e' %>
  <%= button_to 'Email Job Information Without Money', emailjobnomoney_path(id: contract.id), class: 'item', 'data-theme' => 'e' %>
    <% end %>
</div></div>

<% end %>
<% end %>