Contracts <%= @contracts.count %><br />

Act Code <%= @actcodes.count %><br />

Users <%= @theusers.count %><br />

Count: <%= @u.count %>
<% @u.each do |t| %>
   <li> <%= t %></li>
    <% end %>


<%#= @jackreport.count %>