<% content_for :navbar, render("layouts/user_nav") %>

<%= render :layout => "layouts/base" do %>
  <div class="page-header">
    <div class="row">
      <div class="span7">
        <h2><%= @title %></h2>
        <%= yield :description %>
      </div>
      <div class="span2">
        <%= yield :actions %>
      </div>
	
    </div>
  </div><!-- /.page-header -->

  <div class="row">
    <div id="content" class="span9">
      <%= yield %>            
    </div> <!-- /#content -->

    <div id="sidebar" class="span3">
	<% if user_signed_in? %>
	<%= switch_user_select if current_user.is? :everything %>
	<% end %>
     <ul class="nav nav-tabs nav-stacked nav-caret-left">
	<% if user_signed_in? %>
		<%= render 'otheracts-sidebar' if current_user.is? :manager %>
	<% end %>
	
	
        <!-- <%#= activatable_li_tag_with_link "Sub menu", nil %>
             <%#= activatable_li_tag_with_link "Another menu", "#" %>
             <%#= activatable_li_tag_with_link "A last one", "#" %> -->
      </ul>
    </div> <!-- /#sidebar -->
  </div> <!-- /.row -->

<% end %>