<!DOCTYPE html>
<html>
<head>
	<title>WTA Admin Center</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS Styles -->
  <%= stylesheet_link_tag "iui/iui", "iui/t/ipdc/ipdc-theme.css", "css/iui-panel-list" %>
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="apple-touch-startup-image" href='<%= image_path('startup.png') %>'>
<link rel="apple-touch-icon" href='<%= image_path('iui/iui-logo-touch-icon.png') %>' />
 
	<!-- Google WebFonts -->
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
</head>

<!-- Add class .fixed for fixed layout. You would need also edit CSS file for width -->
<body>
	<div class="toolbar"> 	
		<h1 id="pageTitle"></h1>
		<a id="backButton" class="button" href="#"></a>	
		<%= link_to "Logout", destroy_user_session_path, :class => "button", :target => '_blank'  %>
	</div>
	
<div id="screen1" title="Contracts" class="panel" selected="true">		
<%= yield %>
	<%= javascript_include_tag "iui/iui" %>
</body>
</html>