<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <%= render "layouts/navbar" %>

      <%#= yield :header %>
    </header>
<div id="main">
<div class="container">
  <div class="row">
    <%= render "layouts/user_nav" %>
    <div class="thumbnail white span9">
    <div class="inner">
      <%= yield %>
    </div>
    </div> <!-- /#content -->

    <div id="sidebar" class="span3">
    <%= yield :showmoney %>
    <%= yield :frontpage %>
    </div> <!-- /#sidebar -->
</div>
 <%= render 'layouts/footer' %>
</div>
  </body>
</html>