<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
	<%= csrf_meta_tag %>
	<title>WTA Confirmation System</title>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if !IE 7]><style>#wrap {display:table;height:100%}</style><![endif]-->
<%#= render 'chart' %>
</head>
<body>
<div id="wrap">
    <div id="main">
        <header>
            <div class="container_16 clearfix">
                <div class="clearfix">
                    <%= link_to root_url, {},:id => 'logo'%>
				</div>
                
                <nav>
                    <div id="navcontainer" class="clearfix">
                    <div id="user" class="clearfix">
                        <!-- <img src="demo/avatar.png" alt="" /> -->
                        <strong class="username">Welcome, <%= current_user.fullname %></strong>
                        <ul class="piped">
                       	<%= render 'loginmenu' %>
                        </ul>
                    </div>
                    
                    <div id="navclose"></div>
                    
                    <ul class="sf-menu">
                        <li class="active">
                           		<%= link_to root_url do %>
                                <span class="icon"><%= image_tag "fugue/dashboard.png"%></span>
                                <span class="title">Dashboard</span>
								<% end %>
                        </li>
                
                        <li class="sep">
                            <a href="#">
                                <span class="notification"><%= @unconfirmedcount %></span>
                                <span class="icon"><%= image_tag "fugue/mail.png"%></span>
                                <span class="title">Confirmed This Week</span>
                            </a>
                        </li>
                        <li>
                           <%= link_to edit_user_path(current_user) do %>
                                <span class="icon"><%= image_tag "fugue/user.png" %></span>
                                <span class="title">Account Settings</span>
                            <% end %>
                        </li>
                    </ul>
                    </div>
                </nav>
                <div id="pagetitle" class="clearfix">
                    <!-- <h1 class="left">
                                       Dashboard
                                   </h1> -->
	<%= render 'messages' %>
                    <!-- <a class="btn grey right medium"><span>View Site</span></a> -->
					<%= render "showmoney" %>
                </div>
            </div>
        </header>
        <div class="container_16 clearfix" id="actualbody">

<ul class="breadcrumbs first">
 <%= render_breadcrumbs %>
</ul>

    <div class="grid_16 widget first">
        <div class="widget_title clearfix">
            <h2>Info</h2>
        </div>
        <div class="widget_body">
            <div class="widget_content">
                <div>
	<% unless can? :see_chart, @contract %> <%= render :partial => 'thechart' %>
 <% end %>
                   <%= yield %>
                </div>
                <div style="width:690px; float:left;">
                    <div id="stats" style="width:690px; height: 280px; text-align: center; margin-top: 5px"></div>
                   
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="clear"></div>

  
<!--
<div id="dialog" title="Hello, Hello, Twisted Transistor">
	<p>Chameleon Circuit features unlimited color schemes. Try moving the color sliders on the top right corner of your screen and see how you would like YOUR theme to be!</p>
</div>
-->
            </div> <!-- #actualbody -->
        </div> <!-- #main -->
    </div> <!-- #wrap -->
    <footer>
        <div class="container_12">
            <div class="grid_12 clearfix">
                <p class="left">
                    Powered by So Fresh Engine
                </p>
                <p class="right">
                    &copy <a href="http://wtadb.herokuapp.com">WTA Act Manager</a> 2011
                </p>
            </div>
        </div>
    </footer>
</body>
</html>
