<div class="sheet sheet-condensed">
  <div class="sheet-inner">
<table cellpadding="0" cellspacing="0" class="table" width="100%">
	<thead class="sTableHead">
  <tr> <th class="head0">Management ID</th>
    <th class="head0">Name</th>
    <th class="head0">Manageagement code</th>
   
    <th class="head0"></th>
	<th class="head0"></th>
    <th class="head0"></th>
  </tr>
	</thead>
<% @managements.each do |management| %>
  <tr>	<td><%= management.id %></td>
    <td><%= management.name %></td>
    <td><%= management.manageagement_code %></td>

    <td><%= link_to 'Show', management %></td>
    <td><%= link_to 'Edit', edit_management_path(management) %></td>
    <td><%= link_to 'Destroy', management, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

</table>

<br />
</div></div>
<%= button_to 'New Management', new_management_path(@managemment), :class => 'button button_blue', :method => :get %>
